{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        {% for mes in despesas['mes'].unique() %}
        <div class="col btn btn-secondary">Mês: {{ mes }}</div>
        <div class="col btn btn-danger">Gasto: R${{ despesas.loc[(despesas['tipo_despesa'] == 'despesa'), 'valor'].sum() }}</div>
        <div class="col btn btn-success">Crédito: R${{ despesas.loc[(despesas['tipo_despesa'] == 'credito'), 'valor'].sum() }}</div>
        {% endfor %}
    </div>
    <div>
        <canvas id="chart1"></canvas>
    </div>
    <div>
        <canvas id="chart2"></canvas>
    </div>
    <div>
        <canvas id="chart3"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    window.onload = function() {
        var filtro_despesa = {{ despesas[despesas['tipo_despesa'] == 'despesa'].to_json(orient='records') | safe }};

        var ctx1 = document.getElementById('chart1').getContext('2d');
        var chart1 = new Chart(ctx1, {
            type: 'doughnut',
            data: {
                labels: filtro_despesa.map(item => item.categoria),
                datasets: [{
                    data: filtro_despesa.map(item => item.valor),
                    backgroundColor: ['red', 'green', 'blue', 'orange', 'purple', 'yellow', 'pink', 'gray', 'brown', 'black', 'white', 'turquoise', 'violet']
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Total por Categoria'
                },
                legend: {
                    display: true,
                    position: "bottom"
                }
            }
        });

        var filtro1_despesa = {{ despesas[despesas['tipo_despesa'] == 'credito'].to_json(orient='records') | safe }};
        var ctx2 = document.getElementById('chart2').getContext('2d');
        var chart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: filtro1_despesa.map(item => item.categoria),
                datasets: [{
                    label: 'Valor',
                    data: filtro1_despesa.map(item => item.valor),
                    backgroundColor: 'blue'
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Total por Categoria (Gráfico de Barra)'
                },
                legend: {
                    display: true,
                    position: "bottom"
                }
            }
        });
    }
</script>
{% endblock %}
