{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <select id="filtroAno" class="form-select">
                {% for ano in despesas.ano.unique() %}
                    <option value="{{ ano }}">{{ ano }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <select id="filtroMes" class="form-select">
                {% for mes in despesas.mes.unique() %}
                    <option value="{{ mes }}">{{ mes }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <select id="filtroTipoDespesa" class="form-select">
                {% for tipo_despesa in despesas.tipo_despesa.unique() %}
                    <option value="{{ tipo_despesa }}">{{ tipo_despesa }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <hr class="bg-light">
    <div class="row">
        <div class="col-md-4 chart-container">
            <div id="chart1"></div>
        </div>
        <div class="col-md-4 chart-container">
            <div id="chart2"></div>
        </div>
        <div class="col-md-4 chart-container">
            <div id="chart3"></div>
        </div>
    </div>
    <hr class="bg-light">
    <div class="row">
        <div class="col">
            <div id="table"></div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var filtroAno = document.getElementById('filtroAno');
        var filtroMes = document.getElementById('filtroMes');
        var filtroTipoDespesa = document.getElementById('filtroTipoDespesa');
        var chart1, chart2, chart3, table;
        var despesas = JSON.parse('{{ despesas.to_json(orient="records") | safe }}');

        // Carregar a biblioteca do Google Charts
        //google.charts.load('current', {'packages':['corechart', 'table']});
        //google.charts.setOnLoadCallback(drawCharts);

        // Carregar a biblioteca do Google Charts
        google.charts.load('current', {'packages':['corechart', 'table']});
        google.charts.setOnLoadCallback(function() {
            drawCharts(despesas);
        });

        // Função para desenhar os gráficos
        function drawCharts(dadosFiltrados) {
            var categorias = [...new Set(dadosFiltrados.map(item => item.categoria))];
            var valores1 = {};
            var pagamentos = [...new Set(dadosFiltrados.map(item => item.pagamento))];
            var valores2 = {};
            var dias = [...new Set(dadosFiltrados.map(item => item.dia))];
            var valores3 = {};


            dadosFiltrados.forEach(function(item) {
                if (!valores1[item.categoria]) {
                    valores1[item.categoria] = 0;
                }
                valores1[item.categoria] += parseFloat(item.valor);
                if (!valores2[item.pagamento]) {
                    valores2[item.pagamento] = 0;
                }
                valores2[item.pagamento] += parseFloat(item.valor);
                if (!valores3[item.dia]) {
                    valores3[item.dia] = 0;
                }
                valores3[item.dia] += parseFloat(item.valor);
            });

            var backgroundColor = [
                'rgba(255, 0, 132, 0.4)',   // Cor 1
                'rgba(175, 192, 192, 0.4)',  // Cor 2
                'rgba(54, 162, 0, 0.4)',     // Cor 3
                'rgba(255, 99, 132, 0.4)',   // Cor 4
                'rgba(54, 162, 235, 0.4)',   // Cor 5
                'rgba(255, 206, 86, 0.4)',   // Cor 6
                'rgba(75, 192, 192, 0.4)',   // Cor 7
                'rgba(153, 102, 255, 0.4)',  // Cor 8
                'rgba(255, 159, 64, 0.4)',   // Cor 9
                'rgba(255, 0, 0, 0.4)',       // Cor 10
                'rgba(0, 255, 0, 0.4)',       // Cor 11
                'rgba(0, 0, 255, 0.4)',       // Cor 12
                'rgba(128, 128, 128, 0.4)',   // Cor 13
                'rgba(255, 255, 0, 0.4)'      // Cor 14
            ];

            var data1 = new google.visualization.DataTable();
            data1.addColumn('string', 'Categoria');
            data1.addColumn('number', 'Valor');
            data1.addRows(Object.keys(valores1).map(function(key) {
                return [key, valores1[key]];
            }));

            var options1 = {
                title: 'Categoria',
                backgroundColor: 'transparent',
                width: '100%'
            };

            chart1 = new google.visualization.PieChart(document.getElementById('chart1'));
            chart1.draw(data1, options1);

            var data2 = new google.visualization.DataTable();
            data2.addColumn('string', 'Pagamento');
            data2.addColumn('number', 'Valor');
            data2.addRows(Object.keys(valores2).map(function(key) {
                return [key, valores2[key]];
            }));

            var options2 = {
                title: 'Tipo de Pagamento',
                pieHole: 0.3,
                backgroundColor: 'transparent',
                width: '100%'
            };

            chart2 = new google.visualization.PieChart(document.getElementById('chart2'));
            chart2.draw(data2, options2);

            dadosFiltrados.sort(function(a, b) {
                return parseInt(a.dia) - parseInt(b.dia);
            });

            var data3 = new google.visualization.DataTable();
            data3.addColumn('string', 'Dia');
            data3.addColumn('number', 'Valor');
            data3.addRows(Object.keys(valores3).map(function(key) {
                return [key, valores3[key]];
            }));

            var options3 = {
                title: 'Total Dia',
                backgroundColor: 'transparent',
                legend: { position: "none" },
                bar: {groupWidth: "95%"},
                width: '100%'
            };

            chart3 = new google.visualization.ColumnChart(document.getElementById('chart3'));
            chart3.draw(data3, options3);

            // Gráfico de Tabela
            var data4 = new google.visualization.DataTable();
            data4.addColumn('string', 'Categoria');
            data4.addColumn('number', 'Valor');
            data4.addRows(Object.keys(valores1).map(function(key) {
                return [key, valores1[key]];
                
            }));

            var options4 = {
                title: 'Tabela',
                showRowNumber: true,
                width: '100%',
                height: '100%'
            };

            table = new google.visualization.Table(document.getElementById('table'));
            table.draw(data4, options4);
        }

        filtroAno.addEventListener('change', function() {
            var selectedAno = filtroAno.value;
            var selectedMes = filtroMes.value;
            var selectedTipoDespesa = filtroTipoDespesa.value;
            var filtroDespesas = despesas.filter(function(item) {
                return item.ano === selectedAno && item.mes === selectedMes && item.tipo_despesa === selectedTipoDespesa;
            });
            drawCharts(filtroDespesas);
        });

        filtroMes.addEventListener('change', function() {
            var selectedAno = filtroAno.value;
            var selectedMes = filtroMes.value;
            var selectedTipoDespesa = filtroTipoDespesa.value;
            var filtroDespesas = despesas.filter(function(item) {
                return item.ano === selectedAno && item.mes === selectedMes && item.tipo_despesa === selectedTipoDespesa;
            });
            drawCharts(filtroDespesas);
        });
    });
</script>
{% endblock %}
